

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ccc;
}
.gameScreen{
    max-width: 80%;
    border: 10px solid black;
    padding: 100px 10px 60px;
    margin: 20px auto 0;
}
.gameRows{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.row{
    width: 100%;
    background-color: black;
    margin: 0 auto 10px;
    padding: 10px 0;
    position: relative;
}
.row::after{
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: white;
    top: 0;
    right: 10%;
}
.player{
    height: 40px;
    justify-content: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.playerOne{
    background-color: darkcyan;
}
.playerTwo{
    background-color: maroon;
}
.playerThree{
    background-color: orange;
}
.playerFour{
    background-color: springgreen;
}
.startGame{
    display: block;
    margin: 50px auto 0;
    width: 150px;
    height: 50px;
    color: white;
    background-color: darkslategrey;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
    outline: none;
    transition-duration: 500ms;
}
.startGame:hover{
    cursor: pointer;
    background-color: dimgray;
}
.restartGame{
    margin: 50px auto 0;
    width: 150px;
    height: 50px;
    color: white;
    background-color: darkslategrey;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
    outline: none;
    transition-duration: 500ms;
    display: none;
}
.restartGame:hover{
    cursor: pointer;
    background-color: dimgray;
}